._src_styles__button {
  width: 30%; 
}

._src_styles__center {
  text-align: center;
}

._src_styles__mainContainer {
  position: relative;
}

._src_styles__buttonContainer {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
}